.fbio-chat-box .color-primary {
	background-color: #f08f5a;
	color: #fff;
}
.fbio-chat-box {
	background-color: #fff;
	-webkit-box-shadow: 0 0 3px 0 #C4C4C4;
	box-shadow: 0 0 3px 0 #C4C4C4;
	width: 230px;
	position: fixed;
	right: 5px;
	bottom: 0;
	font-size: 12px;
	box-sizing: border-box;
}
.fbio-chat-box label {
	display: block;
}
.fbio-chat-box input {
	padding: 10px;
	color: #8c8c8c;
	border: none;
	outline: none;
	width: 100%;
}
.fbio-chat-box button {
	border: none;
	outline: none;
	padding: 8px;
	width: 95%;
	margin-left: 5px;
	cursor: pointer;
}
.fbio-chat-login-focus {
	display: none;
}
.fbio-chat-box .clr {
	clear: both;
}
.fbio-chat-box-room {
	height: 100%;
}
.fbio-chat-profile {
	background-color: #f08f5a;
	width: 95%;
	margin-left: 5px;
	margin-top: 5px;
	padding: 10px;
}
.fbio-chat-photo {
	float: left;
}
.fbio-chat-photo img{
	border:2px solid #fff;
}
.fbio-chat-info {
	float: left;
}
.fbio-chat-title {
	font-size: 14px;
	color: #f2f2f2;
	font-weight: bold;
}